@page
@model MasterChef.WebApp.Pages.ListReceitasModel

@{
    ViewData["Title"] = "ListReceitas";
}

<h1>ListReceitas</h1>

<p>
    <a asp-page="./CreateReceita">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Receita[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receita[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receita[0].Ingredientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receita[0].ModoPreparo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receita[0].Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receita[0].Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receita[0].Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Receita) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoPreparo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Id)
            </td>
            <td>
                <a asp-page="./EditReceita" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./DetailsReceita" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./DeleteReceita" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
